<link href="/css/index.css" rel="stylesheet" type="text/css">

<div>
<form action="/register" method="get">
    <button>Register</button>
</form>

<form action="/login" method="get">
    <button>Login</button>
</form>
</div>