<link href="/css/login.css" rel="stylesheet" type="text/css">

<div class="container">
  <form action="/login" method="POST" id="form" class="form">
      <h1>Login</h1>
      <div class="form-control">
          <label for="email">Email</label>
          <input type="text" autoComplete='off' name="email" class='field' id="email" placeholder="Enter email" required />
      </div>
      <div class="form-control">
          <label for="password">Password</label>
          <input type="password" autoComplete='off' name="password" class='field' id="password" placeholder="Enter password" required />
      </div>
      <button type="submit" id="submit">Submit</button>
  </form>
</div>