<link href="/css/register.css" rel="stylesheet" type="text/css">

<body>
  <div class="container">
      <form action="/login" method="POST" id="form" class="form">
          <h1>Register</h1>
          <div class="form-control">
              <label for="name">Name</label>
              <input type="text" id="name" placeholder="Enter name" autoComplete='off' name='name' class='field' required />
          </div>
          <div class="form-control">
              <label for="email">Email</label>
              <input type="text" autoComplete='off' name="email" class='field' id="email" placeholder="Enter email" required />
          </div>
          <div class="form-control">
              <label for="password">Password</label>
              <input type="password" autoComplete='off' name="password" class='field' id="password" placeholder="Enter password" required />
          </div>
          <div class="form-control">
              <label for="confirm-password">Confirm Password</label>
              <input type="password" id="confirmpassword" placeholder="Enter password again" autoComplete='off' name="confirmpassword" class='field' required />
          </div>
          <button type="submit" id="submit">Submit</button>
      </form>
  </div>
</body>